{% extends 'index.html' %}

{% block content %}

<!-- <form method="GET" action="/filter" class="filter float-left col-5">
    <h3>Filter</h3>
    {{ form.hidden_tag() }}

    {% for field in form
          if field.widget.input_type != 'hidden' %}

      <p>
        {{ field.label }}
        {{ field }}

        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>
    
    {% endfor %}
    
    <button type="submit" class="btn btn-success btn-sm">Submit</button>
</form> -->

<div class="container">
    <div class="row d-flex justify-content-center">
    {% for bud in bud %}

        <div class="card m-2" style="width: 18rem;">
            <img src="../static/IMAGES/{{bud.img}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="text-center bg-success">{{bud.brand}}</h3>
              <p>{{bud.strain}}</p>
              <p>{{bud.category}}</p>
              <p>{{bud.thc}}</p>
              <p>{{bud.qty}}</p>
              <p>{{bud.price}}</p>
            </div>
          </div>

    {% endfor %}
    </div>
</div> 

    {% endblock %}
