{% extends 'admin.html' %}

{% block content %}

<!-- <form method="GET" action="/filter" class="filter float-left col-5">
    <h3>Filter</h3>
    {{ form.hidden_tag() }}

    {% for field in form
          if field.widget.input_type != 'hidden' %}

      <p>
        {{ field.label }}
        {{ field }}

        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>
    
    {% endfor %}
    
    <button type="submit" class="btn btn-success btn-sm">Submit</button>
</form> -->

<div class="container">
    <div class="row d-flex justify-content-center">
    {% for bud in bud %}

        <div class="card m-2" style="width: 18rem;">
            <img src="../static/IMAGES/{{bud.img}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="text-center bg-success">{{bud.brand}}</h3>
              <div class="m-3">
                <span class="badge badge-pill badge-primary">Strain</span>
                <span class="badge badge-pill badge-success float-right">{{bud.strain}}</span>
              </div>
              <div class="m-3">
                <span class="badge badge-pill badge-primary">Type</span>
                <span class="badge badge-pill badge-success float-right">{{bud.category}}</span>
              </div>
              <div class="m-3">
                <span class="badge badge-pill badge-primary">THC</span>
                <span class="badge badge-pill badge-success float-right">{{bud.thc}}%</span>
              </div>
              <div class="m-3">
                <span class="badge badge-pill badge-primary">QTY</span>
                <span class="badge badge-pill badge-success float-right">{{bud.qty}}</span>
              </div>
              <div class="m-3">
                <span class="badge badge-pill badge-primary">Price</span>
                <span class="badge badge-pill badge-success float-right">${{bud.price}}</span>
              </div>
            </div>
          </div>

    {% endfor %}
    </div>
</div> 

    {% endblock %}
